@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url("/background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}